    body {
        height: 200vh;
        background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
        background-attachment: fixed;
    }
    
    header h1 {
        text-align: center;
        font-size: clamp(32px, 7vw, 60px);
        font-weight: 900;
        margin: 40px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient( to right, #ff00cc, #3333ff, #00d4ff, #ff00cc);
        background-size: 300% auto;
        background-clip: text;
        color: transparent;
        animation: flowGradient 4s linear infinite;
    }
    
    @keyframes flowGradient {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 300% 50%;
        }
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    section {
        font-size: 1.2rem;
        width: 40vw;
        border: 2px solid none;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.904);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.838), -2px -2px 15px rgba(0, 0, 0, 0.699), inset -2px -2px 15px rgba(0, 0, 0, 0.699);
        padding: 40px;
    }
    
    section:hover {
        box-shadow: 2px 2px 15px black, -2px -2px 15px rgba(0, 0, 0, 0.699), inset -2px -2px 15px rgba(0, 0, 0, 0.699);
    }
    
    .Calculation {
        text-align: center;
    }
    
    input {
        background-color: rgba(253, 253, 253, 0.916);
        width: 40%;
        border: 2px solid blue;
        padding: 15px 20px 15px 20px;
        border-radius: 15px;
        margin: 20px 0px 0px 0px;
        box-shadow: 8px 8px 16px black, -8px -8px 16px rgba(255, 255, 255, 0.699), inset -8px -8px 16px rgba(0, 0, 0, 0.699);
    }
    
    input:hover {
        box-shadow: 8px 8px 16px black, -8px -8px 16px rgba(255, 255, 255, 0.699), inset -8px -8px 16px rgba(0, 0, 0, 0.699);
    }
    
    button {
        color: white;
        border-radius: 10px;
        background-color: rgba(16, 16, 191, 0.858);
        padding: 10px;
        margin-top: 20px;
        box-shadow: 8px 8px 16px black, -8px -8px 16px rgba(255, 255, 255, 0.699), inset -8px -8px 16px rgba(0, 0, 0, 0.699);
        border: none;
    }
    
    button:hover {
        background-color: blue;
        box-shadow: 8px 8px 16px black, -8px -8px 16px rgba(255, 255, 255, 0.699), inset -8px -8px 16px rgba(0, 0, 0, 0.699);
    }
    
    .result {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    div {
        width: 95%;
        border-left: 4px solid blue;
        border-bottom: 2px solid blue;
        padding: 20px;
        border-radius: 13px;
        box-shadow: 2px 2px 15px black;
        margin-top: 20px;
        background-color: rgba(253, 253, 253, 0.916);
        box-shadow: 8px 8px 16px black, -8px -8px 16px rgba(255, 255, 255, 0.699), inset -8px -8px 16px rgba(0, 0, 0, 0.699);
    }